---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import hljs from "highlight.js";
---

<Layout title="scrollTriggerSample">
    <Header />
    <main>
        <h1>form</h1>
    </main>
</Layout>
<style>
    main {
        margin-top: 60px;
    }
</style>
