---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="scrollTriggerSample">
	<Header />
	<main>
		<h1>top</h1>
	</main>
</Layout>

<style>
	main {
		margin-top: 60px;
	}
</style>
