<header>
    <nav>
        <ul>
            <li>
                <a href="/">top</a>
            </li>
            <li>
                <a href="/image">image</a>
            </li>
        </ul>
    </nav>
</header>

<style>
    header {
        position: fixed;
        top: 0;
        z-index: 1;
        height: 60px;
        width: 100%;
        background-color: #d4b0b0;
    }
    ul {
        display: flex;
        gap: 2rem;
        list-style: none;
    }
</style>
